.hero-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* wrapper of each hero */
.hero-slide-container {
  width: 100%;
}

.hero-slide {
  width: 100%;
  min-height: 800px;
}

/* DOTS */
.hero-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(50%);
  display: flex;
  gap: 12px;
  z-index: 10;
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 230px;            /* adjust to match your text height */
margin-bottom: 360px;}

.dot {
  width: 21px;
  height: 21px;
  background: #000;
  opacity: 0.3;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
  
}

.dot.active {
  opacity: 1;
  margin-left: 1230px;
  transform: scale(1.3);
}
